:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url(https://www.xda-developers.com/files/2018/05/android-weather-apps.png);
  margin: 0;
}

.title {
  text-align: center;
  font-size: 40px;
  color: rgb(253, 137, 29);
  background-color: yellow;
  border: solid;
  margin-top: 0;
  padding: 12px;
}

.city-zip-section {
}

.city-zip {
  font-size: 20px;
}

.button-style {
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px;
}

.button-style:hover {
  background-color: rgb(106, 200, 255);
  border-color: rgb(106, 200, 255);
}

#city {
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  border: solid rgb(106, 200, 255);
  border-radius: 8px;
  background-color: rgb(106, 200, 255);
  opacity: 0.8;
  padding: 20px 50px 20px 50px;
  font-weight: 600;
  font-size: 17px;
  margin-top: 40px;
}

.content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
.content-input-button {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.content-input-position {
  margin-top: 30px;
  text-align: right;
}

input {
  width: 175px;
  height: 25px;
  opacity: 0.8;
}
